{% load bootstrap4 %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
	{% endblock message %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Update account</title>


  </head>

  <body class="text-center">

    <form class="form-signin" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Update apartment card</h1>

    {% bootstrap_form form %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>

  </body>
</html>