{% load bootstrap4 %}

<html xmlns="http://www.w3.org/1999/html">
  <body class="text-center">
  <span>
  {% if user.is_authenticated %}
    <div class="nav-link">Пользователь: {{ user }}</div>
  {% endif %}
  </span>

  {% block message %}
      {% bootstrap_messages %}
  {% endblock message %}

  {% if user.is_authenticated %}
      <a class="nav-link" href={% url 'users:logout' %}>Logout</a>
          <h1>Tenants</h1>
		<table border="3" align="center" class="h-auto mb-4" cellpadding="7">
			<tr>
				<th>Tenant ID</th>
				<th>Name</th>
				<th>Email</th>
			</tr>
			{% for tenant in tenants %}
                <tr>
                    <td><div>{{ tenant.id }}</div></td>
                    <td><a href={% url 'tenants:tenant_detail' tenant.id %}>{{ tenant }}</a></td>
                    <td><div>{{ tenant.email }}</div></td>
                </tr>
			{% endfor %}
		</table>

  <a href={% url 'tenants:tenant_create' %}>Зарегистрировать нового арендатора</a>

  {%  elif not user.is_authenticated %}
      <a class="nav-link" href={% url 'users:login' %}>Login</a>
      <br>
      <a class="nav-link" href={% url 'users:user_create' %}>Регистрация</a>
  {% endif %}
  </body>
</html>
